.full-page {
  width:100%;
}
/* HEADER */
.header {
  width:100%;
}
.logo, .header-text {
  float:left !important;
  width:50%;
  height:100px;
}
.header-text p {
  top:40%;
  left:40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position:relative;
  font-size: 1.35em;
  text-align: center;
}
.logo img {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width:200px;
  top:55%;
  left:50%;
  position: relative;
}
.line {
  width:98%;
  margin-left:1%;
  background-color:black;
  opacity:0.1;
  height:1px;
  top:110px;
  position: relative;
}
@media only screen and (max-width:768px) {
  .logo img {
    width:100px;
  }
  .line {
    top:75px;
  }
  .logo, .header-text {
    height:75px;
  }
  .header-text p {
    top:30%;
    font-size:1em !important;
  }
}

/* END OF HEADER
---------------------*/
/*------FOOTER------*/
.footer {
  width:100%;
  background-color: #2d9940;
  color:white;
  margin-top:70px;
  padding:40px 0px;
}
.footer-links {
    max-width:960px;
    width:90%;
    margin:auto;
}
.links-row {
    width:50%;
    float:left;
}
.footer .links-row {
    text-decoration:none;
    color:#fff !important;
}
.links-row h4 {
    text-align:center;
    margin-right:40px;
}
ul {
    padding-left:0;
    width:150px;
    list-style-type:none;
    margin:auto;
}
li a {
    color:#fff !important;
    transition:.5s;
}
.links-row li a:hover {
    text-decoration:none !important;
    margin-left:5px;
}
li .fa {
    color:white !important;
}
.social a {
    float:left;
    font-size:2em;
    margin:5px 10px;
}
.footer-text {
    text-align:center;
}
@media only screen and (max-width:500px){
  .links-row {
    width:100%;
    float:none;
  }
}
/*-------END OF FOOTER---------*/
/* DROPDOWN */
.dropbtn {
  font-size:1.35em !important;
  text-align: center;
  color:#1d2129;
  border:none;
  background-color: #fff;
  padding:6px 10px;
  cursor:pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2d9940;
    color:white;
    border:none;
}
.dropdown {
    position: relative;
    display: inline-block;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position:relative;
    cursor:pointer;
    z-index: 10 !important;
    border:none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10 !important;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10 !important;
}
.dropdown a:hover {
  background-color: #2d9940;
  color:white !important;
  text-decoration: none;
}
.show {
  display:block;
}
/*CONTACT*/
.contact {
  width:90%;
  max-width:960px;
  margin:auto;
  margin-top:150px;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.1), 0 10px 15px 10px rgba(0,0,0,0.05);
  padding-top: 15px;
}
.contact h1 {
  text-align: center;
}
input:not(#submit) {
  width:90%;
  margin:15px 5%;
  height:30px;
  border-radius: 0 !important;
}
textarea {
  width:90%;
  margin:15px 5%;
  border-radius: 0 !important;
}
#submit {
  left:50%;
  transform: translateX(-50%);
  position: relative;
  border-radius: 0 !important;
  -webkit-appearance:none !important;
  color:#fff !important;
  background-color: #2d9940 !important;
  border:none;
  cursor:pointer;
  transition: .3s;
  margin-bottom:20px;
  font-size: 1.05em;
  padding:7px 18px
}
span {
  margin-left:55px;
  transform: translateY(20px);
  position:absolute;
  opacity:.6;
  transition: .5s;
  z-index: 99;
}
.move {
  transform: translateY(-10px);
}
@media only screen and (max-width:1100px) {
  span {
    margin-left:5.5%;
  }
}
@media only screen and (max-width:768px) {
  .contact {
    margin-top:120px;
    padding-top: 10px;
  }
}
